// STYLEGUIDE
// https://wppcloud.sharepoint.com/sites/mirum-global-wt/Shared%20Documents/Forms/AllItems.aspx?originalPath=aHR0cHM6Ly93cHBjbG91ZC5zaGFyZXBvaW50LmNvbS86Zjovcy9taXJ1bS1nbG9iYWwtd3QvRW5ieTNzQmlyQ1pJdlRpWW10am90YUVCLVlCb0ZKMlRSMmtuMW9RU3RaQXo4Zz9ydGltZT1uSFNkZWhWUTJFZw&id=%2Fsites%2Fmirum-global-wt%2FShared%20Documents%2FGeneral%2FMirum%20Brand%20Resources%2F_Mirum_Brand_Guidelines%2Epdf&parent=%2Fsites%2Fmirum-global-wt%2FShared%20Documents%2FGeneral%2FMirum%20Brand%20Resources

$primary-color: #FFF;
$primary-purple: #633F99;
$primary-coral: #FF8282;
$primary-turquoise: #DCF7EC;

$secondary-color: #000;
$secondary-grey: #697076;
$secondary-coal: #242423;
$secondary-sand: #F1EAE3;
$active-color: #1d9ed9;

$bgr-color: $primary-color;
$border-color: $secondary-grey;


